@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Special+Gothic+Condensed+One&display=swap');

:root {
    --lightbrown: rgb(244, 188, 128);
    --brown: rgb(54, 38, 21);
}
  
@font-face {
    font-family: ModeratBold;
    src: url(moderat-bold.ttf);
}
  
@font-face {
    font-family: ModeratRegular;
    src: url(Moderat-Regular.ttf);
}
  
  
html {
    
    padding: 0;
    margin: 0;
    color: var(--lightbrown);
    font-family: 'Lugrasimo', sans-serif;
  
    background: url(backdrop.webp) no-repeat fixed; 
    background-position-x: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 86px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.all{
    display: block;
  
    max-width: 700px;
  
    margin: auto;
    position: relative;
}

.title{
    text-align: center;
    position: relative;
    top: -10px;
    color: var(--brown);
  }

h1{
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

a{
    text-decoration: none;
    color: var(--brown);
}
  
.downloadcontainer{
    position: relative;
    top: 200px;
    display: block;
    text-align: center;
}
  
.download{
    margin: auto;
    max-width: 400px;
    text-align: center;
    
    border-radius: 30px;
  
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.download:hover{
    -webkit-filter: brightness(130%);
    filter: brightness(1.2);
    transition: filter 0.8s ease;
}

.logo {
    position: absolute;
    top: 8px;
    left: 10px;
    z-index: 4;
}
  
.logo img{
    width: 70px;
}